<div class="container">
<h3>{{coin.symbol}}</h3>
<p>{{price}}</p>
<p>{{priceChange}}</p>
<div class="buttom">
<a href="/wallet/{{_id}}/edit">Edit</a>
<form action="/wallet/{{_id}}/delete" method="post">
<button>Delete</button>
</form>  
</div>

</div>
