<div class="container">
<h3>{{coin.name}}</h3>
<p><b>{{coin.show_symbol}}</b></p>
<p> rank:{{coin.rank}}</p>
<p> price: $: {{coin.markets.0.price}} </p>
<p>market_cap: $:    {{coin.market_cap}}</p>
<p>total_volume_24h:{{coin.total_volume_24h}} Unit</p>
<p>low_24h:{{coin.low_24h}} Unit</p>
<p>high_24h:{{coin.high_24h}} Unit</p>
<p>delta_1h:{{coin.delta_1h}} Unit</p>
<p>delta_24h:{{coin.delta_24h}} Unit</p>
<p>delta_7d:{{coin.delta_7d}} Unit</p>
<p>delta_30d:{{coin.delta_30d}} Unit</p>



<div class="buttom">

<form action="/wallet/{{coin.name}}/favoritos" method="post">
<button type="submit"> Add Favoritos</button>
</form>  
</div>

</div>
